*{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    
}

body {
    display: grid;
    /* width: 100%; */
     background-image: url(https://images2.imgbox.com/d9/c2/Ad3jlHTb_o.jpg);
     background-repeat: repeat;

     
}

/*------------------------*/

header {
    display: grid;
    background-color: #eaebe7;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
}
.logo > img {
    height: 100%;
}
.navbar{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px;
    margin: 0px;
    background-color: #dab7f0;
    width: 100%;
}
.nav-elem{
   text-align: center;
   padding: 10px;
   color: #eaebe7;
}

/*------------------------*/

main{
    display: grid;
    padding: 30px;
    margin: 0px;

}

.bienvenida{
    color: rgb(100, 100, 100);
    text-align: center;
    
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border: lightblue;
    /* justify-content: space-evenly; */
    /* text-align: center; */
    /* background-color: lightblue; */
    padding: 20px;
}

.caja{
    padding: 50px;
    text-align: center;
    background-color: #dab7f0;
    width: 350px;
    height: 450px;
    border-radius: 8px;
    margin: 20px;
    
}

.caja:hover{
    transform: translateY(-15px);
    transition-property: all;
    transition-duration: 1s;
}
 .caja > img {
    height: 70%;
 }

 .contacto {

    color: rgb(65, 64, 64);


 }

/*------------------------*/

footer{
    display: grid;
    align-content: baseline;
    background-color: #eaebe7;
    text-align: center;
}
.foot{
    padding: 10px;   
}
.footer-link{
    display: block;
    text-align: left;
}

/*------------------------*/



